body {
    background-color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

#high-score-button {
    color: rgb(231, 2, 231);
    background-color: white;
    border: none;
    opacity: 1;
}

#countdown-timer-display {
    position: relative;
    display: flex;
}

#countdown-timer-display h4 {
    display: flex;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    margin: 20px;
}

.start-quiz {
    text-align: center;
}

.options {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    align-content: center;
}

button {
    text-align: center;
    background-color:rgb(18, 18, 168);
    color: white;
    display: flex;
    opacity: 0;
}

#button1 {
    opacity: 1;
}

button:hover {
    background-color: rgb(231, 2, 231);
}

